body{
}@media only screen and (min-width: 768px) {
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%}
.header {
  background-image: url('test.JPEG');
  background-size: 40%;
  background-attachment: fixed;
  padding: 15px;
  font-family: 'Zeyada', cursive;
}
#een{
    background-color: red;
    color: white;
  }
  #twee{
      background-color: red;
      color: white;
  }
  img{
    float: right;
    width: 20%;
    margin-left: 5px;
    border-radius: 5px;
  }
